.header-bg {
  background: url("../../img/inicio/introducao-bg.webp");
  background-size: cover;
  // background-position: center;
}

.header {
  @include container;
  @include ptop-3;
  @include pbottom-3;
  color: $w;
  nav {
    display: flex;
    justify-content: space-between;
    gap: $s5;
    align-items: center;
    ul {
      display: flex;
      gap: $s4;
      li {
        @include link-text;
        padding: 8px 0;
      }
    }
  }
}
